services:
  ecommerce-api:
    container_name: backend
    # image: node:18-alpine3.16
    build: ./
    command: npm run dev
    working_dir: /usr/src/test
    # environment:
    #   REDIS_URI: redis://redis:6379
    # depends_on:
    #   - redis
    # - mongo
    ports:
      - "2000:2000"
    volumes:
      - ./:/usr/src/test
      - /usr/src/test/node_modules

  # Redis
  # redis:
  #   image: redis
  #   ports:
  #     - "6379:6379"
  # mongo:
  #   image: mongo:6
  #   container_name: test-mongo
  #   ports:
  #     - "27017:27017"
  #   command: ["--nojournal", "--wiredTigerCacheSizeGB", "0.25"]
  #   environment:
  #     MONGO_INITDB_DATABASE: test-db
  #   volumes:
  #     - mongo_data:/data/db
# volumes:
#   mongo_data:
