.get button {
  display: block;
}
body {
  margin: 10px;
}
button {
  display: inline-block;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 20px;
  background-color: blue;
  font-size: 20px;
  margin-bottom: 25px;
  align-self: left;
  width: 15%;
}
.others {
  margin-top: 45px;
  font-size: large;
}
.links {
  font-size: 30px;
  color: rgb(6, 9, 12);
}
@media only screen and (max-width: 600px) {
  body {
    display: flex;
    background-color: lightblue;
    justify-content: center;
  }
  button {
    width: 30%;
  }
}
@media only screen and (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }
  button {
    width: 25%;
  }
}
